<div class="container">
  <div class="row">
    <h2>Create Your Simple Registration Form</h2>

    <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="form">
      <fieldset>

        <!-- Form Name -->
        <legend>Register Here</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">First Name</label>
          <div class="col-md-4">

            <input id="textinput" formControlName="fstNm" placeholder="Insert your First Name" class="form-control input-md" type="text">

            <span class="help-block" *ngIf="form.controls.fstNm.invalid">Enter First Name</span>
          </div>


          <!-- Text input-->

          <label class="col-md-4 control-label" for="textinput">Last Name</label>
          <div class="col-md-4">

            <input id="textinput" formControlName="lstNm" placeholder="Insert your Last Name" class="form-control input-md" type="text">

            <span class="help-block" *ngIf="form.controls.lstNm.invalid">{{form.controls.lstNm.errors.err}}</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Email</label>
          <div class="col-md-4">

            <input id="textinput" formControlName="email" placeholder="Insert your Email" class="form-control input-md" type="text">

            <span class="help-block" *ngIf="form.controls.email.invalid">Enter Valid Email </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">City</label>
          <div *ngFor="let city of cities">
            <input formControlName="city" type="radio" [value]="city"> {{city}}
          </div>
        </div>

        <div class="form-group" formArrayName="mobiles">
          <label class="col-md-4 control-label" for="textinput">City</label>
          <div class="col-md-8" >
            <input type="text"/><input type="button" value="okay"/>
          </div>
          <div *ngFor="let mob of form.controls.mobiles.value; let ind = index;">
            <input type="text" formControlName="{{ind}}"/>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"> </label>
          <div class="col-md-4">
            <button [disabled]="form.invalid" type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>