<div class="container">
  <div class="row">
    <h2>Create Your Simple Registration Form</h2>

    <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="form" >
      <fieldset>

        <!-- Form Name -->
        <legend>Register Here</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">First Name</label>
          <div class="col-md-4">

            <input id="textinput" 
              formControlName="fstNm" 
              placeholder="Insert your First Name" 
              class="form-control input-md" 
              type="text">

            <span class="help-block" >Enter First Name</span>
          </div>
        

        <!-- Text input-->
      
          <label class="col-md-4 control-label" for="textinput">Last Name</label>
          <div class="col-md-4">

            <input 
              id="textinput" 
              formControlName="lstNm" 
              placeholder="Insert your Last Name" 
              class="form-control input-md" 
              type="text">

            <span class="help-block">Enter Last Name</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Email</label>
          <div class="col-md-4">

            <input 
              id="textinput" 
              formControlName="email" 
              placeholder="Insert your Email" 
              class="form-control input-md" 
              type="text">

            <span class="help-block" >Enter Valid Email </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">City</label>
          <div *ngFor="let city of cities">

            <input 
              formControlName="city" 
              class="form-control input-md" 
              type="radio"> {{city}}

          </div>
          <span class="help-block">Enter Valid Email </span>
        </div>
      
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"> </label>
          <div class="col-md-4">
            <button type="submit"  id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>